@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

header {
    font-family: Roboto Serif, sans-serif;
}

body {
    font-family: David Libre, sans-serif;
    background-color: #f6eeee;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 70px;
    margin-top: 20px;
}


/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 75px;
}

#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid magenta;
}

.active {
    border-bottom: 1px solid magenta;
    color: black;
}


/* hero image & cover text */
/* cover text needs to move over the hero image and adjust styling incl background color. Use rgba colour with opacity .7 */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/pexels-olga-kalinina-7529048.jpg') no-repeat center center;
}



/* Intro section */

#intro {
    height: 500px;
}

#intro h2 {
    padding-top: 30px;
    text-align: left;
}

#left-intro {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-intro {
    padding-top: 30px;
    width: 50%;
    float: right;
}

/* #center-intro {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
} */

#center-intro-p {
    width: 100%;
    line-height: 30px;
    font-size: 100%;
    margin-top: 30px;
    text-align: left;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

#circle-cover-bg-left {
    background: url('../images/frida-in-blue-dress.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg-right {
    background: url('../images/frida-photo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}





/* footer */

footer {
    height: 100px;
}

#contact-social-copy {
    text-align: center;
}

#contact-social-copy>li {
    display: inline;
    list-style-type: none;
}

#contact-social-copy a {
    font-size: 120%;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
    margin-right: 30px;
    margin-top: 20px;
}

#contact-social-copy a:hover {
    border-bottom: 1px solid magenta;






    /* gallery */

    #gallery > div {
        clear: both;
    }

 


    /* about section */
    
   #about{
    height: 600px;
   }

   