@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

header {
    font-family: Roboto Serif, sans-serif;
}

body {
    font-family: David Libre, sans-serif;
    /* background-color: #e6f7ff; */
    /* background-color: #e8f4ea; */
    background-color: #f6eeee;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 70px;
    margin-top: 20px;
}


/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 75px;
}

#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid magenta;
}

.active {
    border-bottom: 1px solid magenta;
    color: black;
}


/* hero image & cover text */
/* cover text needs to move over the hero image and adjust styling incl background color. Use rgba colour with opacity .7 */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/pexels-olga-kalinina-7529048.jpg') no-repeat center center;
}

#cover-text h2 {
    color: #3a3a3a;
}

#cover-text {
    font-size: 130%;
    text-transform: uppercase;
    font-family: Roboto Serif, sans-serif;
    letter-spacing: 4px;
    background-color: white;
    width: 400px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: red;
    bottom: 50px;
    right: 130px;
    position: absolute;
}