@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

header {
    font-family: Roboto Serif, sans-serif;
}

body {
    font-family: David Libre, sans-serif;
    background-color: #e6f7ff;
}

/* headings and logo */

h1, h2 {
    font-family: Roboto serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 70px;
    margin-top: 20px;
}


/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 75px;
}

#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
    color: black;
} 
