@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

header {
    font-family: Roboto Serif, sans-serif;
}

body {
    font-family: David Libre, sans-serif;
    background-color: #f6eeee;
}


/* headings and logo */

h1,
h2 {
    font-family: Roboto serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 70px;
    margin-top: 20px;
    line-height: 75px;
}


/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid magenta;
}

.active {
    border-bottom: 1px solid magenta;
}


/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/pexels-olga-kalinina-7529048.jpg') no-repeat center center;
}


/* homepage */

.intro {
    height: 500px;
}

.intro h2 {
    padding-top: 30px;
    text-align: left;
    text-decoration: underline;
}

.left-intro {
    padding-top: 30px;
    width: 40%;
    float: left;
}

.right-intro {
    padding-top: 30px;
    width: 60%;
    float: right;
}

.intro-p {
    width: 100%;
    line-height: 30px;
    font-size: 100%;
    margin-top: 30px;
    text-align: left;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

#circle-cover-bg-a {
    background: url('../images/frida-in-blue-dress.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg-b {
    background: url('../images/frida-photo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg-c {
    background: url('../images/frida-with-picasso-earrings.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* hr styling code below from stackoverflow.com */ 

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 90%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #3a3a3a;
}


/* footer */

footer {
    height: 100px;
    background-color: rgb(239 205 222);
}

#contact-social-copy {
    text-align: center;
}

#contact-social-copy>li {
    display: inline;
    list-style-type: none;
}

#contact-social-copy a {
    font-size: 120%;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
    margin-right: 30px;
    margin-top: 20px;
}

footer p {
    text-align: center;
}

/* footer hr styling code below from stackoverflow.com */

footer hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 40%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #3a3a3a;
}


/* learn more page */

#learn-more {
    height: 500px;
}

#learn-more h2 {
    text-align: left;
    padding: 30px;
    margin-left: 70px;
    text-decoration: underline;
}

.external-sites {
    text-align: left;
    padding: 30px;
    margin-left: 70px;
}

.external-sites a {
    color: #3a3a3a;
    font-size: 120%;
    text-decoration: none;
}

.external-sites a:hover {
    color: magenta;
}


/* gallery page */

#gallery {
    clear: both;
}

.row div {
    display: inline-block;
    vertical-align: middle;
}

.row img {
    width: 300px;
    height: 350px;
}


/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    .intro {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-intro,
    #right-intro {
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens size from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }


    .intro  {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-intro,
    .right-intro {
        width: inherit;
    }

    .left-intro h2,
    .right-intro h2 {
        width: 100%;
        text-align: center;
    }

    .intro-p,
    .intro-p {
        text-align: center;
        padding: 0 20px;
    }


/* For small screen sizes 800px and down */

/* @media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
} */